h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    border: none;
    background-color: #ff3d00;



}
button{
    background-color: #ff3d00;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input{
    width: auto;
    border: none;
    border-bottom: 2px solid #ff3d00;
    background: transparent;
    
}
p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}
.fullscreen-bg_video{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 125%;
}
@media (min-aspect-ration:16/9){
    .fullscreen-bg_video{
        width: auto;
        height: 100%;
    }
}
@media(max-aspect-ratio:16/9){
    .fullscreen-bg_video{
        width: auto;
        height: auto;
    }
}

.table,td,th{
    background-color:#ff3d00    ;
    border: white;
    color: white;
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 3px;
    border-spacing: 3px;
}
